<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../assets/home.png" />
    <title>SD - View Events</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="import" href="../components/header.html">
    <script src="../utils/view-events.js" type="module"></script>
</head>

<body class="view-event">
    <div class="nav-bar" id="header"></div>

    <div class="center-content">
        <h1>View Events</h1>

        <table>
            <thead>
                <tr>
                    <th>Local</th>
                    <th>Date and Time</th>
                    <th>Participants</th>
                    <th>Price</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be populated dynamically with JavaScript (Built from Typescript File ofc) -->
            </tbody>
        </table>
    </div>

    <script src="../app.js"></script>
</body>

</html>